[mcu adxl]
##	MCU for input shaper
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_54FF70067285525153491467-if00
##--------------------------------------------------------------------

#####################################################################
#  G Sensor definition
#####################################################################
[adxl345]
cs_pin: EBBCan: PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z # this is likely not correct

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20  # an example